name: Addon_OFM

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Verificar ejecución
        run: |
          echo Repositorio: Addon_OFM
          echo Ejecutándose en ${{ matrix.os }}
          echo Workflow multiplataforma funcionando ✔
